@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, Sans-serif;
}
body,html{
    background-color: #2e375c;
    width: 100vw;
    height: 100vh;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    width: 270px;
    height: 530px;
    border-radius: 20px;
    overflow:hidden ;
    box-shadow: 0px 0px 10px #00000084;
    border: 0.1px solid #ffffff1e;
    transition: width .3s, height .3s;
    transition-timing-function:ease ;
    transform: translate(-50%,-50%);
}
section#login > div#imagem{
    background: url('../imagem/images.jpeg')no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
}
section#login > div#formulario{
    padding: 5px;
    display: block;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 1.1em;
    padding-bottom: 5px;
}
form > input[type=submit]{
    display: block;
    background-color: #248f5a;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5px;
}
form > input[type=submit]:hover{
    background-color: #165737;
}
form > div.campo{
    background-color: purple;
    border: 4px solid purple;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
div.campo > span{
    color: white;
    font-size: 2em;
    width: 35px;
    padding: 5px;
}
div.campo > input{
    background-color: #54ca70;
    font-size: 1em;
    width: calc(100% - 54px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    transform: translateY(-11px);
}
div.campo > input:focus-within{
    background-color: white;
    padding-left: 3px;
}
div.campo > label{
    display: none;
}
form > a.botao{
    display: block;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    color: #208152;
    border: 1px solid #208152;
    border-radius: 5px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: #175a39;
    color: white;
}
form > a.botao > i{
    font-size: 0.8em;
}
