@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face  {
    font-family: 'Android';
    src: url('../font/idroid.otf') format(opentype);
}
:root{
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte-destaque:Bebas Neue;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:var(--cor1);
    font-family:Arial, Helvetica, Sans-serif;
}
header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}
header > h1{
    color:white;
    font-family: Bebas Neue;
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px black;
    padding-left:5px ;
    padding-right:5px ;
}
header > p{
    color: white;
    font-size: 1.1em;
    max-width: 500px;
    margin: auto;
    padding: 10px 15px;
    text-shadow: 1px 1px 0px black;
}
nav{
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px #0000006b;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition-duration:.5s;
    margin-left: 5px;
    border-radius:10px;
    cursor: none;
}
nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor4);
}
main{
    min-width:300px;
    max-width:800px;
    margin:auto;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 10px #0000006b;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
}
main h1{
    color:var(--cor4);
    font-family: Android;
    font-size:1.5em;
}
main h2{
    font-family: Android;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor1),transparent);
    text-indent: 5px;
    padding: 5px;
}
main p{
    margin: 15px 0px;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}
main img{
    max-width:100%;
    margin: auto;
    display: block;
}
main strong{
    color: var(--cor5);
    font-weight: bolder;
}
main a{
    color: var(--cor5);
    background-color: var(--cor2);
    text-decoration: none;
    padding: 1px 7px;
    border-radius: 3px;
}
main a:hover{
    text-decoration: underline;
    background-color:var(--cor1);
    color: var(--cor4);
    cursor: pointer;
}
div.video {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 215px;
    background: var(--cor5);
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
}
div.video > iframe {
    flex: 1 1 300px;
    height: 200px;
    max-width: 600px;
    border-radius: 5px;
}
aside{
    background-color:var(--cor1) ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #0000006b;
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-type:'\2714\00A0\00A0';
    list-style-position:inside ;
    columns: 1;
}
footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}
footer a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;
}
footer a:hover{
    color: var(--cor2);
    text-decoration: underline;
}
@media screen and (min-width:768px) {
    aside ul {
        columns: 3;
    }
    div.video {
        width: 600px;
        margin: auto;
        margin-bottom: 20px;
    }
    div.video > iframe {
        flex: 1 1 400px;
        height: 300px;
    }
    }
