@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Sans-serif;
}
html,body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
body{
    background: url('../imagem/fundo-madeira.jpg')no-repeat top center ;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
section#telefone{
    position: absolute; 
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:url('../imagem/frame-iphone.png')no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
    border: 0;
}
section#icone{
    text-align: right;
}
section#icone img{
    position: relative;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #0000007a;
    box-sizing: border-box;
}
section#icone img:hover{
    border: 1px solid white;
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px #00000086;
    transition: transform .3s;
}