@charset 'UTF-8';

div.container {
    display: grid;
    background: lightgrey;
    grid-template: repeat(6, 110px) / repeat(5, 1fr);
    gap:5px;
    padding: 5px;
    box-shadow: 0px 0px 5px #0000006b;
    place-items:normal ;
    place-content:normal ;
}
div {
    padding: 10px;
    border-radius: 5px;
}
div.caixa1 {
    background:#ff555f ;
    border: 1px solid black;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}
div.caixa2 {
    background:#9180ff ;
    border: 1px solid black;
    grid-row: 2 / -2;
    grid-column:1 / 3 ;
}
div.caixa3 {
    background: #b0ff95;
    border: 1px solid black;
    grid-row:2 / 4 ;
    grid-column:3 / -1 ;
}
div.caixa4 {
    background: #ffbd40;
    border: 1px solid black;
    grid-row:4 / 6 ;
    grid-column:3 / 4 ;
}
div.caixa5 {
    background: aqua;
    border: 1px solid black;
    grid-row:4 / -2 ;
    grid-column: 4 / -1;
    
}
div.caixa6 {
    background: seagreen;
    border: 1px solid black;
    grid-row:6 / 7 ;
    grid-column:1 / -1 ;
}
