@charset 'UTF-8';

div.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    background: slategrey;
    gap:5px;
    padding: 5px;
}
div.caixa1 {
    background: slateblue;
    grid-row-start:1 ;
    grid-row-end:2 ;
    grid-column-start:1 ;
    grid-column-end:-1 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.caixa2 {
    background: skyblue;
    grid-row-start:2 ;
    grid-row-end:-1 ;
    grid-column-start:1 ;
    grid-column-end:3 ;
    padding: 10px;
}
div.caixa3 {
    background: springgreen;
    grid-row-start:2 ;
    grid-row-end: -1;
    grid-column-start:3 ;
    grid-column-end: -1;
    padding: 10px;
}